<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>
            @Html.ActionLink("Register", "Register", "Issue")
        </li>
        <li>
            @Ajax.ActionLink(
                "Search"
                , "Search"
                , "Issue"
                , new AjaxOptions
                {
                    UpdateTargetId = "IssueContent"
                }
            )
        </li>
    </ul>
</div>
