@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Knowledge Base</h1>
    <p class="lead">Is an easy way to discover and register issues and how was they solved</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You can search and register issues and how they got solved
        </p>
    </div>
</div>